$bRadius:20px;
$bRadius-1:15px;
$bRadius-2:10px;
$bRadius-3:5px;

// 
@font-face {
    font-family: "Gilroy";
    src: url('../../app/font/Gilroy-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../../app/font/Gilroy-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../../app/font/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}